# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

### Go Patch ###
/vendor/
/Godeps/

### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# vscode
.vscode

# Downloaded tools, e.g. golangci-lint
bin/

# Kubernetes
gke/config.yaml
gke/endpoints.yaml

mixer-grpc.*.pb
deploy/overlays/**/endpoints.yaml
deploy/overlays/**/kustomize-build.yaml
deploy/overlays/**/kustomize-deployed.yaml

deploy/git/mixer_hash.txt


# Memory profiling output
http_memprof_out
