# Helm config
mixer:
  hostProject: datcom-mixer-dev-316822
  serviceName: dev.api.datacommons.org

customDC:
  enabled: true

ingress:
  enabled: true
  name: mixer-ingress-dev
  annotations:
    {
      kubernetes.io/ingress.global-static-ip-name: mixer-ip,
      ingress.gcp.kubernetes.io/pre-shared-cert: mixer-certificate,
    }

# GCP level config
ip: 35.244.157.41
region: us-central1
api_title: DataCommons API (Dev)
nodes: 2

serviceGroups:
  svg:
    replicas: 2
  recon:
    replicas: 4
  observation:
    replicas: 4
  node:
    replicas: 4
  default:
    replicas: 2