# Helm config
mixer:
  hostProject: datcom-mixer-staging
  serviceName: staging.api.datacommons.org

ingress:
  enabled: true
  name: mixer-ingress-staging
  annotations:
    {
      ingress.gcp.kubernetes.io/pre-shared-cert: "mixer-certificate,multi-domain-2024",
    }

serviceGroups:
  svg:
    replicas: 2
  recon:
    replicas: 4
  node:
    replicas: 10
  observation:
    replicas: 10
  default:
    replicas: 5

# GCP level config
ip: 34.107.161.252
region: us-central1
api_title: DataCommons API (Staging)
nodes: 2
