# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# Mixer service backend
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mixer-grpc
  namespace: mixer
spec:
  replicas: <REPLICAS>
  strategy:
      type: RollingUpdate
      rollingUpdate:
        # maximum number of Pods that can be created over the desired number of Pods
        maxSurge: 1
        # maximum number of Pods that can be unavailable during the update process
        maxUnavailable: 25%
  selector:
      matchLabels:
        app: mixer-grpc
  template:
    metadata:
      labels:
        app: mixer-grpc
    spec:
      volumes:
        - name: mixer-robot-key
          secret:
            secretName: mixer-robot-key
      containers:
        - name: mixer
          image: <MIXER_IMAGE>
          imagePullPolicy: <MIXER_PULL_POLICY>
          resources:
            requests:
              memory: "<MIXER_MEM_REQ>"
              cpu: "<MIXER_CPU_REQ>"
            limits:
              memory: "<MIXER_MEM_LIMIT>"
              cpu: "<MIXER_CPU_LIMIT>"
          args:
            [
              "--bq_dataset", "<BQ_DATASET>",
              "--bt_table", " <BT_TABLE>",
              "--bt_project", "<BT_PROJECT>",
              "--bt_instance", "<BT_INSTANCE>",
              "--project_id", "<PROJECT_ID>",
              "--branch_folder", "<BRANCH_FOLDER>",
            ]
          ports:
            - containerPort: 12345
          # Mixer startup loading branch cache, can taking minutes
          # Use a large failureThreshold to prevent infinit loop of restart
          startupProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:12345"]
            failureThreshold: 50
            periodSeconds: 10
          readinessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:12345"]
            periodSeconds: 5
          livenessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:12345"]
            periodSeconds: 5
          volumeMounts:
            - name: mixer-robot-key
              mountPath: /var/secrets/google
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /var/secrets/google/mixer-robot-key.json
