clusters:
  - projects/datcom-mixer/locations/us-central1/clusters/mixer-us-central1
liveUrl: https://api.datacommons.org
flags:
  EnableV3: true
  V3MirrorFraction: 0.6
  WriteUsageLogs: 1.0
  UseSpannerGraph: true
  SpannerGraphDatabase: dc_graph_2026_01_27
  UseStaleReads: true
